body {
  overflow-x: hidden;
  /* background-color: rgb(21, 21, 21); */
}
.galeria-proyectos-container {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.article-container {
  margin: 4px;
  width: 28em;
  text-align: center;
  padding: 1rem;
  border: 2px solid rgb(48, 48, 48);
  box-shadow: 13px 13px 10px black;
  border-radius: 10px;
  background: var(--clr-black);
  transform: rotate(5deg);
}
.article-container:hover {
  /* transform: scale(2,2); */
  transition: var(--transition);
  background-color: rgb(34, 34, 34);
  box-shadow: 20px 20px 25px black;
  transform: rotate(0deg) scale(1.1);
  z-index: 9;
}

.imgage {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  border-radius: 10px;
  height: 15rem;
}
.imgage:hover {
  transition: var (--transition);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.title-galeria,
.subtitle-galeria,
.texto-galeria {
  font-family: Roboto;
  color: white;
}
.title-galeria {
  margin: 0.3rem;
  font-size: 2rem;
}
.subtitle-galeria {
  font-size: 1rem;
}
.galeria-container {
  background: rgb(131, 58, 180);
  background: -moz-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  padding: 0.5rem;
}
.projects{
  color:white;
}



