.gallery {
  height: 80vh;
  width: 100%;
  margin: auto;
  display: flex;
}
.gallery_img {
  width: 80px;
  height: 100%;
  word-spacing: 1rem;
  background-size: cover;
  background-position: center;
  transition: flex 0.5s;
  flex: 1;
  display: grid;
  /* display: flex; */
  /* --message: "Ingrese aqui"; */
  --clip: circle(0 at center);
  --transition: clip-path 0.2s;
}
.gallery_img:nth-child(1) {
  --message: "ABOUT ME: I am a novice programmer very dedicated and motivated to provide solutions, I like to learn new methods of applying logic and new technologies";
}
.gallery_img:nth-child(2) {
  --message: "BACKEND: Mongo, Express, NodeJs, JWT, SQL, Sequelize, Swagger, Jest, Cypress";
}
.gallery_img:nth-child(3) {
  --message: "FRONTEND: React, HTML, CSS, Javascript, Bootstrap,  Redux, Axios, React-styled-components.";
}
.gallery_img::before {
  content: var(--message);
  display: grid;
  place-items: center;
  background-color: #1d1d1d;
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  font-size: 2rem;
  color: #fff;
  clip-path: var(--clip);
  transition: var(--transition);
}
.gallery_img:hover {
  flex: 6;
  --clip: circle(100% at center);
  --transition: clip-path 0.3s 0.4s;
}

.gallery_img:nth-child(1) {
  background-image: url("../imagenes/web.jpg");
}
.gallery_img:nth-child(2) {
  background-image: url("../imagenes/code.jpg");
}
.gallery_img:nth-child(3) {
  background-image: url("../imagenes/about.jpg");
}
@media screen and (max-width: 800px) {
  .texto-container {
    flex-wrap: wrap;
    width: 26em;
  }
  .about-img{
    display: none;
  }
}
.about-me{
  text-align: center;
  color: var( --clr-primary-5);
  padding: 2em 0em;
  font-size: 1.9em;

}
